* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  display: flex;
  justify-content: center;
}
button {
    background-color: transparent;
    border: none; /* If you want to remove the border as well */
    color: inherit; /* This ensures the text color is inherited from its parent */
    cursor: pointer; /* Changes the cursor to a pointer when hovering over the button */
}


@font-face {
  font-family: Stolzl;
  src: url(./assets/Stolzl/stolzl_regular.otf);
}
@font-face {
  font-family: Stolzl Bold;
  src: url(./assets/Stolzl/stolzl_bold.otf);
}
@font-face {
  font-family: Stolzl Book;
  src: url(./assets/Stolzl/stolzl_book.otf);
}
@font-face {
  font-family: Stolzl Light;
  src: url(./assets/Stolzl/stolzl_light.otf);
}
@font-face {
  font-family: Stolzl Medium;
  src: url(./assets/Stolzl/stolzl_medium.otf);
}
@font-face {
  font-family: Stolzl Thin;
  src: url(./assets/Stolzl/stolzl_thin.otf);
}
button {
  border: none;
  outline: none;
  cursor: pointer;
}
nav {
  max-width: 1440px;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 150px;
  background-color: transparent;
  position: absolute;
  top: 0;
  padding: 0 122px;
}
.logo{
  cursor: pointer;
}
.links {
  display: flex;
  align-items: center;
  gap: 43px;
}
.links > a {
  color: rgb(44, 43, 42);
  font-family: Stolzl;
  font-size: 15px;
  font-weight: 400;
}
.links > a:nth-child(2) {
  width: 130px;
}
.contact_t_w{
  display: flex;
  gap: 15px;
}

.main-wrapper {
  max-width: 1440px;
  width: 100vw;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.section1 {
  width: 100vw;
  max-width: 1440px;
  height: 706px;
  position: relative;
  display: flex;
  flex-direction: column;
}
.s1Body {
  display: flex;
  align-items: center;
  padding: 0 112px;
  margin-top: 197px;
}
.s1Left {
  display: flex;
  flex-direction: column;
}
.s1Left > b {
  color: rgb(29, 30, 27);
  font-family: Stolzl;
  font-size: 40px;
  font-weight: 400;
  width: 450px;
  margin-bottom: 18px;
}
.s1Left > p {
  color: rgb(29, 30, 27);
  font-family: Stolzl Light;
  font-size: 20px;
  font-weight: 600;
  width: 500px;
  margin-bottom: 53px;
}
.s1Container {
  width: 700px;
  display: flex;
  flex-wrap: wrap;
  height: 143px;
  gap: 15px;
}
.s1Container > :nth-child(1) > p {
  width: 121px;
}
.s1Container > :nth-child(2) > p {
  width: 146px;
}
.s1Container > :nth-child(4) > p {
  width: 200px;
}
.s1Container > :nth-child(3) > p {
  width: 189px;
}
.s1Card {
  display: flex;
  align-items: center;
  gap: 8px;
  height: 58px;
}
.s1Card > b {
  font-size: 48px;
  font-weight: 600;
  font-family: Stolzl Light;
}
.s1Card > p {
  font-size: 20px;
  font-weight: 600;
  font-family: Stolzl Light;
}

.s1LeftImg {
  position: absolute;
  left: 0;
  bottom: -178px;
  z-index: -1;
}
.s1RightImg {
  position: absolute;
  z-index: -1;
  right: 0;
}
.section2 {
  padding-left: 122px;
  display: flex;
  flex-direction: column;
  max-width: 1440px;
  width: 100vw;
  position: relative;
  margin-bottom: 100px;
}

.section2 > b {
  color: rgb(29, 30, 27);
  font-family: Stolzl;
  font-size: 40px;
  font-weight: 400;
}
.section2 > p {
  color: rgb(44, 43, 42);
  font-family: Stolzl Light;
  font-size: 20px;
  font-weight: 600;
  margin-top: 10px;
  margin-bottom: 27px;
}

.menu-slider {
  width: 712px;
  height: 54px;
  display: flex;
  align-items: center;
  border-radius: 48px;
  box-shadow: 0px 0px 18.6px 0px rgba(0, 0, 0, 0.04);
  background-color: #fff;
  box-shadow: 0px 0px 18.6px 0px rgba(0, 0, 0, 0.04);
  justify-content: space-between;
  margin-bottom: 50px;
}
.menu-slider > button {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000;
  border-radius: 48px;
  background-color: #fff;
  height: 100%;
  padding: 0 22px;
  color: rgb(29, 30, 27);
  font-family: Stolzl;
  font-size: 20px;
  font-weight: 400;
  transition: 0.5s;
}

.menu-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.arrows {
  display: flex;
  align-items: center;
  gap: 42px;
  height: 54px;
  padding-right: 123px;
}
.arrows > img {
  cursor: pointer;
}
.menu-slider > button:focus {
  background-color: #73ff4a;
}

.slider-body {
  max-width: 1440px;
  width: 100vw;
  display: flex;
  overflow: hidden;
  align-items: center;
  gap: 30px;
}
.cardS2 {
  width: 320px;
  height: 186px;
  padding: 20px;
  border-radius: 23px;
  box-shadow: 0px 0px 18.6px 0px rgba(0, 0, 0, 0.08);
  background: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.cardS2 > b {
  color: rgb(29, 30, 27);
  font-family: Stolzl;
  font-size: 20px;
  font-weight: 400;
}
.cardS2 > p {
  color: rgb(130, 130, 130);
  font-family: Stolzl;
  font-size: 15px;
  font-weight: 400;
}
.cardS2 > button {
  width: 110px;
  height: 39px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 69px;
  background: rgba(115, 255, 74, 0.4);
  color: rgb(44, 43, 42);
  font-family: Stolzl;
  font-size: 16px;
  font-weight: 400;
}
.s2Img {
  position: absolute;
  right: 16px;
  top: -203px;
  z-index: -1;
}

.section3 {
  max-width: 1440px;
  width: 100vw;
  display: flex;
  flex-direction: column;
  padding-left: 122px;
  height: 516px;
  margin-bottom: 131px;
  position: relative;
}
.section3 > b {
  color: rgb(29, 30, 27);
  font-family: Stolzl;
  font-size: 40px;
  font-weight: 400;
}
.menu-container > button {
  width: 232px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000;
  background-color: rgba(115, 255, 74, 0.4);
  border-radius: 60px;
  font-family: Stolzl;
  font-size: 20px;
  font-weight: 400;
  margin-top: 21px;
  margin-bottom: 43px;
}
.s3Card {
  width: 302px;
  height: 302px;
  border-radius: 23px;
}
.s3Card > img {
  width: 100%;
  height: 100%;
  border-radius: 23px;
  object-fit: cover;
}
.s3Img {
  position: absolute;
  z-index: -1;
  left: -60px;
  bottom: -399px;
}

.section4 {
  max-width: 1440px;
  width: 100vw;
  border-radius: 100px 100px 0px 0px;
  display: flex;
  align-items: center;
  height: 733px;
  box-shadow: 0px 0px 18.6px 0px rgba(0, 0, 0, 0.08);
  gap: 47px;
}

.leftS4 > img {
  border-radius: 100px 0px 0px 0px;
}
.rightS4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}
.rightS4 > b {
  color: rgb(0, 0, 0);
  font-family: Stolzl;
  font-size: 40px;
  font-weight: 400;
  margin-bottom: 10px;
}
.rightS4 > p {
  color: rgb(44, 43, 42);
  font-family: Stolzl;
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 34px;
}

.marketLogos {
  display: flex;
  align-items: center;
  gap: 34.21px;
  margin-bottom: 54px;
}
.marketQr {
  display: flex;
  align-items: center;
  gap: 37px;
  margin-bottom: 30px;
}
.rightS4 > span {
  color: rgb(29, 30, 27);
  font-family: Stolzl;
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 15px;
}
.rightS4 > :nth-child(6) {
  width: 515px;
}
.rightS4 > h6 {
  color: rgb(0, 0, 0);
  font-family: Stolzl;
  font-size: 16px;
  font-weight: 400;
  width: 713px;
}

.section5 {
  max-width: 1440px;
  width: 100vw;
  height: 709px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 122px;
  position: relative;
  gap: 49px;
}
.menu-container > b {
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: rgb(29, 30, 27);
  font-family: Stolzl;
  font-size: 40px;
  font-weight: 400;
}
.menu-container > b > p {
  color: rgb(44, 43, 42);
  font-family: Stolzl;
  font-size: 20px;
  font-weight: 400;
}
.section5 > .menu-container {
  align-items: end;
}
.cardS5 {
  /* background-color: red; */
  width: 648px;
  height: 328px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  border-radius: 21px;
  box-shadow: 0px 0px 18.6px 0px rgba(0, 0, 0, 0.08);
}
.section6 {
  height: 818px;
  max-width: 1440px;
  width: 100vw;
  background: url(./assets/img/s6Img.png);
  padding-left: 123px;
  padding-top: 187px;
  display: flex;
  flex-direction: column;
  gap: 45px;
}
.section6 > b {
  color: rgb(255, 255, 255);
  font-family: Stolzl;
  font-size: 40px;
  font-weight: 400;
  text-transform: uppercase;
}
.s6Container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: rgb(255, 255, 255);
  font-family: Stolzl Light;
  font-size: 20px;
  font-weight: 600;
}
.section6 > button {
  width: 237px;
  height: 58px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  color: rgb(44, 43, 42);
  font-family: Stolzl;
  font-size: 16px;
  font-weight: 400;
  border-radius: 50px;
  background: rgb(1, 255, 11);
}


/* //select */

.select2 {
  position: relative;
  width: 60%;
  height: 55px;
  max-width: 540px;
  background: yellow;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 16px;
  border-radius: 50px;
  background: var(--White, #fff);
  margin-bottom: 34px;
  /* overflow: hidden; */

}

.select2 input {
  width: 100%;
  height: 100%;
  padding: 0 16px;
  border: none;
  border-radius: 50px;
   color: rgb(44, 43, 42);
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  outline: none; /* Border removal when input is focused */
}

.select2 svg {
  font-size: 20px;
  transition: all 0.3s ease;
}

.select2.active svg {
  transform: rotate(180deg);
}

.select__list2 {
  position: absolute;
  top: calc(100% + 0px);
  left: 0;
  z-index: 999;
  width: 100%;
  max-height: 0px;
  overflow-y: auto;
  border: 1px solid transparent;
  border-radius: 8px;
  background: var(--White, #ffffff);
  transition: all 0.3s ease;
}

.select__list2 > li {
  height: 40px;
  padding: 0 16px;
  font-size: 16px;
  font-weight: 500;
  color: var(--Dark, #23262a);
  cursor: pointer;
  display: flex;
  align-items: center;
}

.select__list2 > :nth-child(even) {
  background: var(--Light, #f4f5f7);
}

.select__list2 > :nth-child(even):hover {
  /* background: var(--Light, #f4f5f7e9); */
}

.select__list2 > :nth-child(odd):hover {
  background: var(--Light, #fbfbfb);
}

.select2.active .select__list2 {
  max-height: 200px;
  border: 1px solid var(--Border, #dde1eb);
}

.section7 {
  max-width: 1440px;
  width: 100vw;
  height: 833px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 100px 112px;
}
.s7Card {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  background-color: #f4f4f4;
  border-radius: 50px;
}
.s7Card > img {
  border-radius: 50px 0 0 50px;
}
.s7Card > form {
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;
  width: 50%;
  height: 100%;
  padding-top: 37px;
}
.s7Card > form > b {
  color: rgb(29, 30, 27);
  font-family: Stolzl;
  font-size: 40px;
  font-weight: 400;
}
.s7Card > form > p {
  color: rgb(165, 165, 165);
  font-family: Stolzl Light;
  font-size: 20px;
  font-weight: 600;
  margin-top: 10px;
  margin-bottom: 50px;
}
.s7Card > form > input,
.s7Card > form > select {
  width: 368px;
  height: 56px;
  border-radius: 30px;
  display: flex;
  align-items: center;
  padding-left: 16px;
  color: rgb(44, 43, 42);
  font-family: Stolzl;
  font-size: 16px;
  font-weight: 400;
  border: none;
  outline: none;
  margin-bottom: 34px;
}
.s7Card > form > button {
  width: 368px;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  background: rgb(1, 255, 11);
  color: rgb(44, 43, 42);
  font-family: Stolzl;
  font-size: 16px;
  font-weight: 400;
}
footer {
  max-width: 1440px;
  width: 100vw;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  gap: 29px;
  height: 658px;
  padding: 0 122px;
  background: url(./assets/img/footerBackround.png);
}
.footer-top {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 40px;
}
.topLeft {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.topLeft > b {
  color: #fff;
  font-size: 40px;
  font-family: Stolzl;
  font-weight: 400;
  width: 750px;
}
.topLeft > p {
  font-family: Stolzl;
  font-weight: 400;
  font-size: 32px;
  color: #ffffff9e;
}
.topRight {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.topRight > input {
  width: 305px;
  height: 58px;
  display: flex;
  align-items: center;
  padding-left: 33px;
  border-radius: 28px;
  border: 2px solid #fff;
  color: #fff;
  font-family: Stolzl;
  font-size: 16px;
  background-color: transparent;
  outline: none;
}

.footerCard {
  width: 100%;
  height: 394px;
  display: flex;
  flex-direction: column;
  padding: 32px 40px;
  background-color: #2c2b2aa1;
  gap: 20px;
  border-radius: 16px;
}
.topCard {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.leftTop {
  display: flex;
  align-items: center;
  gap: 93px;
}
.footerLinks {
  display: flex;
  flex-direction: column;
  gap: 9px;
  font-size: 12px;
  font-family: Stolzl;
  font-weight: 400;
  color: #fff;
}
.topCard > button {
  width: 237px;
  height: 58px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(1, 255, 11);
  color: #000;
  gap: 8px;
  border-radius: 50px;
  font-family: Stolzl;
  font-weight: 400;
  font-size: 16px;
}
.middleCard {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 13px;
}
.middleCard > b {
  font-family: Stolzl;
  font-size: 24px;
  font-weight: 400;
  color: #fff;
}
.contactLabel {
  display: flex;
  flex-direction: column;
  gap: 9px;
}
.contact {
  display: flex;
  flex-direction: column;
  gap: 0px;
  font-family: Stolzl;
  font-weight: 400;
  font-size: 12px;
  color: #fff;
  text-align: right;
}
.contactLabel:nth-child(2){
  gap: 22px;
}
.contactLabel:nth-child(2) > .contact:first-child > p:first-child{
  max-width: 100px;
}
.contactLabel:nth-child(2) > .contact:first-child {
  align-items: end;
}


.contactContainer {
  display: flex;
  align-items: start;
  gap: 13px;
}
.bottomCard {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footerIcons {
  display: flex;
  align-items: center;
  gap: 8px;
}
.topRight > ::placeholder{
  color: white;
}
.footerIcon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footerIcon > img {
  width: 25px;
  height: 25px;
}
footer > p {
  font-size: 10px;
  font-family: Stolzl;
  font-weight: 400;
  margin-bottom: 24px;
  color: #ffffff;
}

.adress-body {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 1440px;
  width: 100vw;
  margin-top: 225px;
  padding-left: 122px;
}
.adress-body > a {
  color: #828282;
  font-size: 16px;
  font-family: Stolzl;
  font-weight: 400;
  display: flex;
  align-items: center;
  gap: 10px;
}
.adress-body > b {
  color: rgb(29, 30, 27);
  font-family: Stolzl;
  font-size: 40px;
  font-weight: 400;
}
.adress-body > span {
  display: flex;
  align-items: center;
  gap: 8px;
}
.adressContainer {
  display: flex;
  align-items: center;
  margin-top: 34px;
  gap: 60px;
}
.adressBox {
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: rgb(44, 43, 42);
  font-family: Stolzl;
  font-size: 16px;
  font-weight: 400;
}

.card {
  width: 602px;
  height: 401px;
  display: flex;
  flex-direction: column;
  padding-top: 21px;
  border-radius: 30px;
  /* gap: 12px; */
  background-color: #fff;
}
.cancel {
  width: 100%;
  display: flex;
  justify-content: end;
  margin-bottom: 5.84px;
  padding-right: 30px;
}
.cardText > b {
  color: rgb(29, 30, 27);
  font-family: Stolzl;
  font-size: 20px;
  font-weight: 400;
  padding-left: 84px;
  width: 339px;
}
.cardText {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
}
.cardText > p {
  padding-left: 84px;
  width: 400px;
}
.cardText > p,
.cardArrows > p {
  color: rgb(130, 130, 130);
  font-family: Stolzl;
  font-size: 15px;
  font-weight: 400;
}
.cardArrows > p {
  height: 109px;
}
.cardArrows {
  display: flex;
  align-items: start;
  gap: 39px;
  width: 100%;
  padding: 0 30px;
}
.cardButtons {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 15px;
}
.cardButtons > button {
  width: 100px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #74ff4a68;
  color: #000;
  gap: 8px;
  border-radius: 50px;
  font-family: Stolzl;
  font-weight: 400;
  font-size: 16px;
}
.cardButtons > button:focus {
  background-color: #73ff4a;
}


.cardText:nth-child(5) {
  width: 100%;
}

.box_Slider{
  max-width: 1440px;
  width: 100vw;
  display: flex;
  align-items: center;
  gap: 30px;
  
}
.box_Slider{
  transition: 1s;
}
.slider-body{
  transition: 1s;
}
.card_dody{
  display: flex;
 transition: 1s;
}
.coffe_box{
  transition: 1s;
}